/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

@import 'header';

body{
    background-color:lightseagreen;
}

header{
    @include grid-row();

    h1{
        @include grid-column(12);
        text-align: center;
        color:darkgoldenrod;
        font-size: 1.5em;
    }
}

main{
    @include grid-row();
     text-align: center;

    .goldCoins, .trinkets, .exchange{
        @include grid-column(4);
        padding: 2%;
        border-radius: 10%;
        border: 2px solid darkgoldenrod;
        background-color: goldenrod;
        color:seagreen;
        font-size: 1.5em;
       
    }

}

footer{
    @include grid-row();
    
    .buttons{
        @include grid-column(6);
    

    #buy, #sell{
        margin: 10%;
        padding: 2%;
        border-radius: 10%;
        border: 2px solid darkgoldenrod;
        background-color: goldenrod;
        color:seagreen;
        font-size: 1em;
    }
    }

    .transactions{
        @include grid-column (6);
        text-align: center;
        color: darkblue;
        
        #list{
            list-style-type: none;
            padding: 0;
            
        }

    
    }
    
}


        li{
            color: darkred;
        }
    